---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.chucknorris.io/jokes/search?query=Chuck+Norris+once+interrogated+agent+Smith.
    method: GET
  response:
    body: '{"total":1,"result":[{"category":null,"icon_url":"https:\/\/assets.chucknorris.host\/img\/avatar\/chuck-norris.png","id":"nj19y6OkQSu7n0tYiPn4FA","url":"http:\/\/api.chucknorris.io\/jokes\/nj19y6OkQSu7n0tYiPn4FA","value":"Chuck
      Norris once interrogated agent Smith."}]}'
    headers:
      Content-Type:
      - application/json
      X-Result-Count:
      - "1"
    status: 200 OK
    code: 200
